.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dbd0b3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: #6c7751;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.topnav {
  background-color: #6c7751;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-style: none;
  border-width: 2px;
  border-color: #555554;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #dbd0b3;
  color: #6c7751;
}

.topnav b {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
  border-style: none;
  border-width: 2px;
  border-color: #555554;
}

/* Right-aligned section inside the top navigation */
.topnav button {
  float: right;
  height: 40px;
  background-color: #6c7751;
  color: #f2f2f2;
  text-align: center;
  margin-top: 9px;
  margin-right: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: none;
  border-width: 2px;
  border-color: #555554;
  font-size: 17px;
  border-radius: 30px;
}

.topnav button:hover {
  background-color: #ddd;
  color: black;
}

.topnav button.login {
  background-color: #df7958;
  color: black;
}

.topnav button.login:hover {
  background-color: #ddd;
  color: black;
}

.topnav button.signup {
  background-color: #ffd7c7;
  color: black;
}

.topnav button.signup:hover {
  background-color: #ddd;
  color: black;
}

.opening{
  text-align: left;
  font-size: large;
  display: flex;
}
.title{
  text-align: center;
  
}

.works{
  text-align: center;
  background-color: #ffd7c7;
  font-size: medium;
  display: flex;
}

.topnav .nav-icon {
  margin-right: 5px;
  vertical-align:middle;
  height: 30px;
  width: 30px;
}

.group1{
  text-align: left;
  font-size: medium;
  display: flex;
  border: 1px solid black
}
.group2{
  text-align: left;
  font-size: medium;
  display: flex;
  border: 1px solid black
}

.group3{
  text-align: left;
  font-size: medium;
  display: flex;
  border: 1px solid black
}

.connections{
  text-align: left;
  font-size: medium;
  display: flex;
  border: 1px solid black;
  background-color: #ffd7c7;
}

.titles{
  display: inline;
}

#signInButton {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-end; /* Align items to the right */
}


#signout-button {
  cursor: pointer;
  color: black;
  background-color: white;
  display: flex;
  align-items: center; 
  padding: 10px;
  width: 125px
}

#g-login-btn1{
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
}

.logo {
  width: 4px;
  height: 4px;
  margin-right: 5px;
  vertical-align: middle;
}

#signout-button span {
  vertical-align: middle; 
}



.backBtn{
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5em;
}
.logo {
  width: 15%;  /* Adjust as needed */
  height: auto;  /* Maintain aspect ratio */
}

.usernameBar {
  width: 20%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  background-color: #6c7751;
  color: white; /* Text color */
  text-align: center; /* Centered text */
}

.usernameBar:focus {
  outline: none;
}

.usernameBar::placeholder {
  color: lightgrey;
}

.passwordBar {
  width: 20%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  background-color: #6c7751;
  color: white; /* Text color */
  text-align: center; /* Centered text */
}

.passwordBar:focus {
  outline: none;
}

.passwordBar::placeholder {
  color: lightgrey;
}

.loginBtn {
  margin-top: 20px;
  width: 20%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  text-align: center; /* Centered text */
  background-color: #df7958;
  color: black;
}

.loginBtn:hover {
  background-color: #ddd;
  color: black;
}

.homePageDescription{
  text-align: left;
  font-size: medium;
  background-color: #6c7751;
  color: white;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  margin-top: 100px;
}

.homePageDescription a{
  font-size: 25px;
}

.olliAspects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%; /* Adjust as needed */
  float: left;
  width: 18.9%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  min-width: 280px;
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.CheerConnectionsTitle {
  color: #6c7751;
  width: 100%;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  margin-top: 10px;
}

.cheerConnectionsDescBack {
  padding: 10px;
  margin-left: 3.5%;
  background: url("../public/images/cheer-connections.png") no-repeat center center;
  background-size: cover;
}

.cheerWorksDescBack {
  background: url("../public/images/2.png") no-repeat center center;
  background-size: cover;
}

.cheerLivingDescBack {
  padding: 10px;
  margin-left: 3.5%;
  background: url("../public/images/cheer-connections.png") no-repeat center center;
  background-size: cover;
}

.cheerGroupDescBack {
  padding: 10px;
  margin-left: 3.5%;
  background: url("../public/images/1.png") no-repeat center center;
  background-size: cover;
}

.CheerConnections {
  position: relative;
  background-color: none;
  color: white;
  width: 100%;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  margin-top: 10px;
  min-height: 200px;
  height: auto;
}

.CheerConnections .CheerConnectionsTitle {
  visibility: hidden;
}

.CheerConnectionsTitle {
  font-size: 30px;
}

.CheerConnections .CheerConnectionsDescription {
  visibility: hidden;
}

.CheerConnections:hover .CheerConnectionsTitle {
  visibility: visible;
}

.CheerConnections:hover .CheerConnectionsDescription {
  visibility: visible;
}

.CheerConnectionsButton {
  margin-top: 20px;
  background-color: #df7958;
  color: black;
  width: 50%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  visibility: hidden;
}

.CheerConnections:hover .CheerConnectionsButton {
  visibility: visible;

}
.requestButton{
  font-size: larger;
  color: #6c7751;
}

#subEve{
  background-color: #6c7751;
  color: white;
  height: 50px;
  width: 100px;
}

#eveChoice{
  width: 200px;
  height: 50px;
}

#patientName{
  width:300px;
  height: 50px;
}

#patientID{
  width:300px;
  height: 50px;
}

#hostPatientName{
  width:300px;
  height: 50px;
}

#hostPatientID{
  width:300px;
  height: 50px;
}

.eveMenu{
  display: flex;
}

.createMenu{
  display: flex;
}

.selection{
  display: inline;
}

#eveWhite{
  width: 200px;
  height: 300px;
}

#eveGreen{
  width: 200px;
  height: 300px;
}

.eventDate{
  display: flex;
}

#eveYear{
  width: 150px;
  height: 50px;
}

#eveMonth{
  width: 150px;
  height: 50px;
}

#eveDay{
  width: 150px;
  height: 50px;
}


.line {
  height: 100px;
  width: 5px;
  color: #6c7751; 
}

.dateTime{
  display: inline;
}

#digit1{
  width: 50px;
  height: 50px;
}

#digit2{
  width: 50px;
  height: 50px;
}

#digit3{
  width: 50px;
  height: 50px;
}

#digit4{
  width: 50px;
  height: 50px;
}
.error-message {
  color: red;
  font-size: 14px;
}

.contacts1{
  display: block;
  position: fixed;
  left: 0;
  width: 50%;
  height: 83.5vh;
  text-align: left;
  border: 2px solid #6c7751;
}



#placeholderCon{
  text-align: center;
}

.contacts2{
  display: inline;
  background-color: #e98361;
  font-size: 27px;
  position: absolute;
  right: 0;
  width: 50%;
  height: 83.5vh;
  border: 2px solid #6c7751;
}

.contactsMenu{
  display: flex;
}



#logoFB1{
  width: 55px;
  height: 55px;
  
}

#logoFB2{
  width: 50px;
  height: 50px;
 
}

#logoFB3{
  width: 50px;
  height: 50px;
  
}

#placeholderCon{
  width: 200px;
  height: 200px;
}


.repEmail{
  position: relative;
  align-items: center;
}




#contactMessage{
  width: 500px;
  height: 150px;
}

#contactName{
  width: 200px;
  height: 30px;
}

#contactEmail{
  width: 200px;
  height: 30px;
}

#subject{
  width: 200px;
  height: 30px;
}

#contactPhone{
  width: 200px;
  height: 30px;
}


.messageOptions1 input{
  display: inline;
  margin-bottom: 10px;
  
}

.messageOptions2 input{
  display: inline;
  margin-bottom: 10px;
}

.messageOptions3 input{
  display: block;
  margin-bottom: 10px;
}


#contactEmail{
  margin-left: 20px;
}

#contactPhone{
  margin-left: 20px;
}

#contactName{
  text-align: left;
}

#subject{
  text-align: left;
}

#fbTitle{
  position: relative;
  bottom: 40px;
}

.fbLinks{
  display: flex;
}

.locationInfo{
  text-align: left;
}

#sendButton{
  background-color: #6c7751;
  color:#fafafa;
  text-align: left;
  width: 100px;
  height: 50px;
}

#maps{
  width:50px;
  height: 50px;
}

.mapsLine{
  display: flex;
  align-items: center;
}

#clock{
  width:50px;
  height:50px
}

.hoursHeader{
  display: flex;
  align-items: center;
}

.backArrowImg {
  width: 60px;
  height: 50px;
}
