/* ENTIRE APP */ 

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.App-header {
  background-color: #dbd0b3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: #6c7751;
}

h1 {
  color: #333;
}

a:hover {
  cursor:pointer;
}

button:hover {
  cursor: pointer;
}

.fundraising, .contact, .events, .homePage, .verification, .news, .about, .admin-stuff {
  /*margin-top: 50px;*/
  margin-bottom: 50px;
  text-align: center;
}

/* NAVIGATION */

.topnav {
  background-color: #6c7751;
  overflow: hidden;
  /*position: fixed;*/
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-style: none;
  border-width: 2px;
  border-color: #555554;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #dbd0b3;
  color: #6c7751;
}

.topnav b {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
  border-style: none;
  border-width: 2px;
  border-color: #555554;
}

.topnav button {
  float: right;
  height: 40px;
  background-color: #6c7751;
  color: #f2f2f2;
  text-align: center;
  margin-top: 9px;
  margin-right: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: none;
  border-width: 2px;
  border-color: #555554;
  font-size: 17px;
  border-radius: 10px;
}

.topnav button:hover {
  background-color: #ddd;
  color: black;
}

.topnav button.login {
  background-color: #df7958;
  color: black;
}

.topnav button.login:hover {
  background-color: #ddd;
  color: black;
}

.topnav button.signup, .topnav button.signout{
  background-color: #ffd7c7;
  color: black;
  margin-right: 0px;
  
}

.topnav button.signup:hover, .topnav button.signout:hover {
  background-color: #ddd;
  color: black;
}

.topnav #settings-icon {
  display: inline-flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-right: 5px;
  margin-left: -7px;
  margin-top: -5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.topnav #settings-img {
  height: 30px; 
  width: 30px;

}

.topnav #pfp {
  margin: 5px;
  vertical-align:middle;
  height: 30px;
  width: 30px;
}

#signInButton {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-end; /* Align items to the right */
}

#signout-button {
  cursor: pointer;
  color: black;
  background-color: white;
  display: flex;
  align-items: center; 
  padding: 10px;
  width: 125px
}

#g-login-btn1{
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
}

.logo {
  margin-top: 20px;
  width: 4px;
  height: 4px;
  margin-right: 5px;
  vertical-align: middle;
}

#signout-button span {
  vertical-align: middle; 
}


/* HOME PAGE */

.opening{
  text-align: left;
  font-size: large;
  display: flex;
}
.title{
  text-align: center;
}

.works{
  text-align: center;
  background-color: #ffd7c7;
  font-size: medium;
  display: flex;
}

.topnav .nav-icon {
  margin-right: 5px;
  vertical-align:middle;
  height: 30px;
  width: 30px;
}

.group1{
  text-align: left;
  font-size: medium;
  display: flex;
  border: 1px solid black
}
.group2{
  text-align: left;
  font-size: medium;
  display: flex;
  border: 1px solid black
}

.group3{
  text-align: left;
  font-size: medium;
  display: flex;
  border: 1px solid black
}

.connections{
  text-align: left;
  font-size: medium;
  display: flex;
  border: 1px solid black;
  background-color: #ffd7c7;
}

.titles{
  display: inline;
}

.cheer-desc {
  display: inline-block;
}

.homePageDescription{
  text-align: left;
  font-size: medium;
  background-color: #6c7751;
  color: white;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.homePageDescription a{
  font-size: 25px;
}

.olliAspects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%; /* Adjust as needed */
  float: left;
  width: 18.9%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  min-width: 280px;
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.CheerConnectionsTitle {
  color: #6c7751;
  width: 100%;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  margin-top: 10px;
}

.cheerConnectionsDescBack {
  padding: 10px;
  margin-left: 3.5%;
  background: url("../public/images/cheer-connections.png") no-repeat center center;
  background-size: cover;
  border-radius: 20px;
}

.cheerWorksDescBack {
  background: url("../public/images/2.png") no-repeat center center;
  background-size: cover;
  border-radius: 20px;
}

.cheerLivingDescBack {
  padding: 10px;
  margin-left: 3.5%;
  background: url("../public/images/cheer-connections.png") no-repeat center center;
  background-size: cover;
  border-radius: 20px;
}

.cheerGroupDescBack {
  padding: 10px;
  margin-left: 3.5%;
  background: url("../public/images/1.png") no-repeat center center;
  background-size: cover;
  border-radius: 20px;
}

.CheerConnections {
  position: relative;
  background-color: none;
  color: white;
  width: 100%;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  margin-top: 10px;
  min-height: 200px;
  height: auto;
}

.CheerConnections .CheerConnectionsTitle {
  visibility: hidden;
}

.CheerConnectionsTitle {
  font-size: 30px;
}

.CheerConnections .CheerConnectionsDescription {
  visibility: hidden;
}

.CheerConnections:hover .CheerConnectionsTitle {
  visibility: visible;
}

.CheerConnections:hover .CheerConnectionsDescription {
  visibility: visible;
}

.CheerConnections:hover{
  padding-top: 10px;
  background-color: #6c7751;
  opacity: 0.9;
  transition: all 0.5s;
}

.CheerConnectionsButton {
  margin-top: 20px;
  background-color: #df7958;
  color: black;
  width: 50%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 10px; /* Rounded sides */
  visibility: hidden;
}

.CheerConnections:hover .CheerConnectionsButton {
  visibility: visible;

}
.requestButton{
  font-size: larger;
  color: #6c7751;
}

.review-section .review-desc h1 {
  margin-top: 100px;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.reviews .review {
  width: 15%;
  margin: 20px;
  padding: 20px;
  font-size: smaller;
  border: 2px solid #6c7751;
  border-radius: 10px;
  background-color: #ffd7c7;
  text-align: middle;
  font-style: italic;
}

.reviews .review img {
  height: 22px;
  width: 22px;
  vertical-align: text-top;
}

.review-text, .review-stars {
  border: none;
  border-radius: 10px; /* Rounded sides */
  background-color: #fef9e8;
  color: #6c7751; /* Text color */
  text-align: center; /* Centered text */
  font-style: italic;
  vertical-align: middle;
}

.review-stars {
  margin-bottom: 5px;
}

.review-submit {
  background-color: #6c7751;
  color:#fafafa;
  width: 100px;
  height: 40px;
  border: 0px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
}

.review-submit:hover {
  background-color: #df7958;
  color: black;
  text-align: center;
}


/* LOGIN PAGE */ 

.backBtn{
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5em;
}
.logo {
  width: 15%;  /* Adjust as needed */
  height: auto;  /* Maintain aspect ratio */
}

.usernameBar {
  width: 20%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 10px; /* Rounded sides */
  background-color: #6c7751;
  color: white; /* Text color */
  text-align: center; /* Centered text */
  margin-top: 5px;
  font-style: italic;
}

.usernameBar:focus {
  outline: none;
}

.usernameBar::placeholder {
  color: lightgrey;
}

.passwordBar {
  width: 20%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 10px; /* Rounded sides */
  background-color: #6c7751;
  color: white; /* Text color */
  text-align: center; /* Centered text */
  margin-top: 5px;
  font-style: italic;
}

.passwordBar:focus {
  outline: none;
}

.passwordBar::placeholder {
  color: lightgrey;
}

.loginBtn {
  margin-top: 20px;
  width: 30%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 10px; /* Rounded sides */
  text-align: center; /* Centered text */
  background-color: #df7958;
  color: black;
}

.loginBtn:hover {
  background-color: #ddd;
  color: black;
}

#forgotPassword {
  background-color: #6c7751; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 2px;
  cursor: pointer;
  border-radius: 10px;
}

/* EVENTS PAGE */

.line {
  height: 100px;
  width: 5px;
  color: #6c7751; 
}

.dateTime{
  display: inline;
}

#digit1{
  width: 50px;
  height: 50px;
}

#digit2{
  width: 50px;
  height: 50px;
}

#digit3{
  width: 50px;
  height: 50px;
}

#digit4{
  width: 50px;
  height: 50px;
}
.error-message {
  color: red;
  font-size: 14px;
}

/* CONTACT PAGE */

.contact {
  width: 100%;
}

.contact .contact-left,
.contact .contact-right {
  width: 48%; /* Adjust as needed */
  box-sizing: border-box;
  text-align: left;
  padding: 0 20px; /* Adjust padding as needed */
  margin: 0;
  display: inline-block;
  vertical-align: top; /* Align elements at the top */
}

.contact .contact-right {
  font-size: 27px;
  border-left: solid #6c7751 2px;
  padding-left: 50px;
}

.contact .contact-left {
  margin-left: 20px;
}

.contact .contactMenu {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.contact input {
  border: none;
  border-radius: 10px; /* Rounded sides */
  background-color: #fef9e8;
  color: #6c7751; /* Text color */
  text-align: center; /* Centered text */
  font-style: italic;
}

/* Media query for small screens */
@media only screen and (max-width: 767px) {
  .contact .contact-left,
  .contact .contact-right {
    width: 100%; /* Full width on smaller screens */
    border-left: none; /* Remove the border on smaller screens */
  }
}

.contact p {
  font-size: 20px;
}

.contact .contact-right h3 {
  font-style: italic;
  text-align: center;
}

.contact .contact-left h3 {
  font-style: italic;
}

.contact hr {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  border: 1px solid #6c7751;
}

.contact .messageOptions1 input, .messageOptions2 input {
  display: inline-block;
  margin-bottom: 10px;
  width: 38.6%;
  height: 30px;
  margin-right: 10px;
}

.contact .messageOptions3 input{
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 80%;
  height: 150px;
}

.contact .fbLinks{
  text-align: left;
  display: inline;
}

.contact .link {
  display: flex;
}

.contact .contact-right img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.contact .locationInfo{
  text-align: left;
}

.contact #sendButton{
  background-color: #6c7751;
  color:#fafafa;
  width: 100px;
  height: 50px;
  border: 0px;
  border-radius: 10px;
  text-align: center;
}

.contact #sendButton:hover{
  background-color: #df7958;
  color: black;
  text-align: center;
}

.contact .mapsLine{
  display: flex;
  align-items: center;
}

.contact .hours{
  display: flex;
  align-items: center;
}

/* FUNDRAISING PAGE */ 

.fundraising p {
  font-style: bolder;
}

.fundraising hr {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  border: 1px solid #6c7751;

}

.fundraising .container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.fundraising .child {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.fundraising .bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

/* ABOUT PAGE */ 

.groupPic{
  width: 50%;
  height: auto;
  position: relative; /* Add this line */
}

.aboutDescription{
  font-size: medium;
  background-color: #6c7751;
  color: white;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 20px;
  width: 55%;
  margin: 10px auto;
}

.aboutDescription p{
  font-size: 30px;
}

.intro {
  font-style: italic;
  padding: 20px;
  width: 95%;
  
}

.desc {
  padding: 0 40px;
  text-align: justify;

}

.CheerConnectionsButtonAbtPage {
  margin-top: 20px;
  background-color: #df7958;
  color: black;
  width: 50%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  margin-left: 20px;
}

.CheerConnectionsButtonAbtPage:hover {
  background-color: #ddd;
  color: black;
}

.cheerGroupSection {
  background-color: #6c7751;
  color: white;
  width: 60%;
  margin: auto;
  margin-top: 150px;
  border-radius: 20px;
}

.cheerWorksSection, .cheerConnectionsSection, .cheerLivingSection {
  background-color: #6c7751;
  color: white;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
}

.cheerGroupSection h1, .cheerConnectionsSection h1, .cheerWorksSection h1, .cheerLivingSection h1 {
  float: left;
  color: white;
  margin-left: 20px;
}

.expandCheerGroupSection, .expandCheerConnectionsSection, .expandCheerWorksSection, .expandCheerLivingSection {
  background-color: #df7958;
  color: black;
  width: 50%;
  margin: auto;
  border: none;
  border-radius: 20px;
  font-size: medium;
  padding: 10px;
  margin-bottom: 20px;
}

.expandCheerGroupSection:hover, .expandCheerConnectionsSection:hover, .expandCheerWorksSection:hover, .expandCheerLivingSection:hover{
  background-color: #ddd;
  color: black;
}

.cheerGroupSectionExpandable, .cheerWorksSectionExpandable, .cheerConnectionsSectionExpandable, .cheerLivingSectionExpandable {
  display: none;
}

.cheerGroupSectionExpandable p, .cheerWorksSectionExpandable p, .cheerConnectionsSectionExpandable p, .cheerLivingSectionExpandable p {
  margin: auto;
}

/* DROP-IN PAGE */
.drop-in {
  padding: 20px;
}

.drop-in button {
  background-color: #df7958;
  color: black;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px;
  vertical-align: auto;
}

.drop-in button:hover {
  background-color: #ddd;
  color: black;
}

.drop-in .date-picker {
  padding: 10px;
}

.drop-in .datetime-boxes {
  display: flex;
  justify-content: space-between; /* This will space out the children evenly */
  align-items: center; /* This will ensure they are aligned nicely */
  width: 55%;
  margin: auto;
}

.drop-in .date-picker {
  flex: 1; /* Makes each date picker flex to fill the space */
  margin: 0 10px; /* Adds horizontal margin */
}

/* NEWS PAGE */

.news .info-container {
  margin: auto;
}

.news #download-img {
  margin-left: 10px;
  width: 25px;
  vertical-align: middle;
}

img#download-img{
  margin-left: 10px;
  width: 25px;
}

.news .letter-info {
 text-align: left;
 border: rgb(238, 231, 221) 1px solid;
 border-radius: 20px;
 padding: 20px;
 background-color: rgb(238, 231, 221);
}

.news .letter-info:hover {
  text-align: left;
  border: rgb(238, 231, 221) 1px solid;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(205, 201, 196);
 }

.news #newsletter-list {
  align-items: left;
  /*margin-top: 50px;*/
}

.news #upload-pdf {
  text-align: left; /* Align content to the left side of the page */
}

.news .newsletter-item {
  width: 100%;
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: -25px; /* Adjust this value to reduce the space */
}

.news .open-btn {
  margin-left: 10px;
}

/* VERIFICATION PAGE */
.verification input, .verification select {
  width: 20%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 10px; /* Rounded sides */
  background-color: #fef9e8;
  color: #6c7751; /* Text color */
  text-align: center; /* Centered text */
}

.verification button {
  background-color: #df7958;
  color: black;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
}


.backArrowImg {
  width: 60px;
  height: 50px;
}

.admin-stuff{
  margin-bottom: 300px;
}

input, button, select, option {
  font-family: 'Nunito', sans-serif;
}


.verification {
  max-width: 400px;
  /*margin: 50px auto;*/
  padding: 20px;
  border-radius: 5px;
}

.verification h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.verification form {
  display: flex;
  flex-direction: column;
}

.verification label {
  margin-bottom: 10px;
  color: #555;
}

.verification input,
.verification select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.verification button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.verification button:hover{
  background-color: blue;
}

.verification button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#return-btn{
  background-color: #df7958;
  color: black;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px;
  vertical-align: auto;
  margin: 5px;
}
#return-btn:hover{
  background-color: #ddd;
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
  text-align: center;
}

p.letterheader{
  padding:0px;
  margin-bottom: 15px;
  
}

.switch input {
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

/* ACCOUNT SETTINGS */

#account-settings{
  width: 100%;
}

#account-settings #email-prefs{
  display: inline-flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center;
}

#account-settings #email-prefs label.switch {
  padding-right: 10px; /* Adjust padding for the switch label */

}

#account-settings #email-prefs button {
  padding: 5px 10px; /* Adjust padding for the button */
}

 #account-settings img {
  height: 50px;
  width: 50px;
}

#account-settings #pfp {
  border: none;
  background: none;
}

#account-settings p {
  font-weight: bolder;
}

#account-settings #user-details {
  border: rgb(238, 231, 221) 1px solid;
  border-radius: 20px;
  padding: 20px;

  width: fit-content;
  margin: auto;
  background-color: rgb(238, 231, 221);
  font-weight: 300;
}

#settings-pfps{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

#account-settings .selected img {
  border: 6px solid black;
  border-radius: 50%;
}

#account-settings #user-details .pfp {
  width: 100px;
  height: 100px;
  padding-top: 10px;
}

#account-settings button {
  background-color: #df7958;
  color: black;
  padding: 10px;
  margin: 5px;
  font-size: medium;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

#account-settings button:hover {
  background-color: #ddd;
  color: black;
}

#account-settings input {
  border: none;
  border-radius: 10px; /* Rounded sides */
  background-color: #fef9e8;
  color: #6c7751; /* Text color */
  text-align: center; /* Centered text */
  font-style: italic;
  height: 35px;
  margin: 5px;
}

/* RANDOM STUFF */

.news{
  width: 100%;
}

.letterheader{
  font-weight: bolder;
}

#admin-options, #admin-page, #upload-pdf{
  width: 100%;
}

#upload-nl{
  font-weight: bolder;
  font-size: 25px;
  margin-left: 30px;

}

#stuff-nl{
  text-align: center;
}

#button-container{
  text-align: right;
}

#newsletter-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
}

.newsletter-item {
  position: relative;
  width: 100%; /* Ensures the item occupies the full width */
  display: flex;
  justify-content: flex-start; /* Aligns items (info-container and button-container) to the start of the container */
  margin-bottom: -15px;
  margin-left: 50px;
}

.info-container {
  display: flex;
  align-items: center; /* Aligns items vertically within the info container */
}

.button-container {
  position:absolute;
  right: 0;
  margin-right: 200px;
  top: 50%;
  transform: translateY(-50%);
}

.button-container button {
  margin-right: 10px; /* Adjust as needed */

}

/* RANDOM STUFF */


.backArrowImg {
  width: 60px;
  height: 50px;
}


.fundraising, .contact, .events, .homePage, .verification, .news, .about, .drop-in {
  margin-top: 20px;
  text-align: center;
}


#ul-txt{
  text-align: center;
}

.admin-btn{
  background-color: #df7958;
  padding: 10px;
  margin: 20px;
  border-width: 1px;
  border-radius: 8px;
  border-width: 1px;
}

#confirm-delete{
  background-color:#df7958;
  font-weight: 200;
  padding: 5px;
  margin: 20px;
  font-weight: bolder;
  border-width: 0.2px;
  border-radius: 8px;
}

#delete1{
  background-color: #cd8783fc;
  font-weight: bolder;
  padding: 5px;
  margin: 20px;
  border-width: 0.2px;
  border-radius: 8px;
}

#upload-file{
  background-color:#859262;
  padding: 5px;
  margin: 20px;
  border-width: 0.2px;
  border-radius: 8px;
  font-weight: bolder;
}

#return-btn {
  position:absolute;
  background-color: #df7958;
  padding: 5px;
  margin: 25px;
  border-width: 0.2px;
  border-radius: 8px;
  top: 120px;
  left: 10px;
}

#return-btn:hover {
  background-color: #ddd;
  color: black;
} 


.backBtn2{
  position:absolute;
  background-color: #a2a2a3;
  padding: 5px;
  margin: 20px;
  border-width: 0.2px;
  border-radius: 8px;
  top: 115px;
  left: 0px;
  background: none;
  border: none;
  cursor: pointer;
}

.backArrowImg2 {
  width: 40px;
  height: 30px;
}


.fc-daygrid-event-harness{
  background-color: #6c7751;
  color: white;
}

.fc-daygrid-event-harness:hover{
  background-color: #df7958;
  color: black;
}

#admin-menu-btn:hover{
  background-color: #ddd;
  color: black;
}

#admin-sched-btn{
  background-color: #df7958;
  padding: 10px;
  margin: 20px;
  border-width: 1px;
  border-radius: 8px;
  border-width: 1px;
}

#admin-sched-btn:hover{
  background-color: #ddd;
  color: black;
}


/* Status buttons */

.userMenu {
  margin-bottom: 10px; /* Adds space between each user menu */
  font-size: 16px; /* Increases font size for better visibility */
}

/* EVENTS PAGE */

.events button {
  background-color: #df7958;
  color: black;
  width: 100px;
  height: 40px;
  border: 0px;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}

.events button:hover {
  background-color: #ddd;
  color: black;
  text-align: center;
}

.eventCreatorBar {
  width: 100%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  background-color: #6c7751;
  color: white; /* Text color */
  text-align: center; /* Centered text */ 
}

.eventCreatorBar::placeholder {
  color: lightgrey;
}

.createEventTitle {
  margin-top: 100px;
}

.includeWaiverCheckbox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.eventBox {
  width: 100%;
  margin-left: 0%;
  margin-top: 20px;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  background-color: #6c7751;
  color: white; /* Text color */
  text-align: center; /* Centered text */
}

.sigCanvas {
  background-color: rgb(238, 235, 235);
  width: 50%;
  height: 200px;
}
li {
  list-style-type: none;
}

/* CHAT PAGE */

#chat-list-item, #chat-name, #view-chat-btn{
  display: inline;
}

#view-chat-btn{
  margin: 10px;
  background-color: #df7958;
  cursor: pointer;
  color: black;
  font-weight:400;
  align-items: center; 
  padding: 5px;
  width: 80px;
  border-width: 0;
  border-radius: 10px;
}

#added-member > button{
  border-radius: 10px;
  border: 1px solid black;
  background-color:#ccc;
  height: 21px;
  width: 21px;
}

#added-member > button > p{
  margin: 0;
  font-size: 0.65rem;
  font-weight: bold;
  height: 13.0px;
}

#added-member > p {
  font-size: 15px;
  font-weight: bold;
  display: inline;
  color: white;
  margin: 0px;
}

#added-member {
  align-items: center;
  display: inline-flex;
  background-color: #333;
  height: 30px;
  margin: 1px;
  width: fit-content;
  padding: 0px 8px;
  border-radius: 10px;
}

#delete-member-btn-t > p{
  font-size: 15px;
  font-weight: bold;
  display: inline;
  margin: 0px;
  margin-top: 90px;
  transform: translateY(-60px);
}

#d-label{
  transform: translate(-4px,-9px);
  padding:0px
}

#d-label > p{
font-size: 15px;
font-weight: bold;
display: inline;
margin: 0px;
margin-top: 90px;
}



.msg-label{
  display: inline-flex;
}

.cont-outter-fx-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#new-msg-bubble{
  background-color: #5f5d5d;
  border-radius: 50%;
  width: 30px;

}




#new-msg-bubble > p {
 color: #ccc;
 font-weight: bolder;
 margin: 0;
}

#chat-item-div > p{
  display: inline-flex;
 
}
#chat-item-div > div{
  display: inline-flex;
 
}
#chat-item-div > button{
  display: inline-flex
 
}

#active-chat-list{
  align-content:flex-start;
  margin: 0;
}

#chat-header{
  font-size: 35px;
  margin-bottom: 20px;

}

#active-chat-list > ol{
 margin: 0;

}
#chat-item-div{
  margin: 0;
  padding: 0
}

#chat-item-div{
  margin: 0;
  padding: 0
}

.author{
  display: flex;
  height: 30px;
  margin: 0;
  font-size: 15px;
  background-color: #e5e4e4;
  margin-bottom: 0px;

}

#chat-container{
  background-color: 3px solid white;
  border-radius: 10px;
  height: 50vh;
  width: 80vw;
  overflow: hidden;
  overflow-y: scroll;
  padding-left: 0;
}

#centered-margin{
  margin: 0 auto;
  width: fit-content;
}

#send-btn{
  background-color: transparent;
  color: black;
  width: 70px;
  height: 35px;
  margin-left: 0.3rem;
  transform: translateY(-5px);
  font-family: 'Nunito', sans-serif;
  box-shadow: 0 6px #999;
  border-radius: 10px;
  background-color:#df7958;
  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(-0.1px);
  }
}

#msg-input{
  background-color: #e5e4e4;
  border: 1px solid white;
  margin: 1rem;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 18px;
  color: black;
  padding: 7px 7px;
  font-family: 'Nunito', sans-serif;
  width: calc(40vw - 1rem - 70px);
  transition: all 0.3s ease;
  border-bottom: 3px solid black;
  outline: none;
}

#chat-bg{
  background-color: #e5e4e4;
}

.msg-item{
  font-family: 'Nunito', sans-serif;
  color:white;
  padding: 0 0 0.6rem 0.6rem;
  background-color: #003f7d;
  border-radius: 8px;
  padding: 9px; 
  margin-top: -5px;
}


#chat-container > li{
  list-style-type: none;
    width:fit-content;
    height: fit-content;
    margin: 1rem;
    font-size: 20px;
    margin-top: 0px;
    /* background-color: #003f7d; */
}

#chat-container > li#send-li-item {

  margin-left: auto;
}

#chat-container > li#rcv-li-item {
  margin-right: auto;
}

#send-author{
  justify-content: flex-end;
}

#rcv-author{
  justify-content: flex-start;
}

#gc-title{
  font-size: 35px;
}


#send-btn-8 {
  display: flex;
}

#msg-box-label{
  display: flex;
  
}
#message-box1{
  display: flex
}

.submit-m {

  margin: 10px;
  background-color: #df7958;
  cursor: pointer;
  color: black;
  font-weight:400;
  align-items: center; 
  padding: 5px;
  border-width: 0;
  border-radius: 8px;
}

/* MANAGE USER ADMIN TOOLS PAGE */

.userApproval button {
  background-color: #df7958;
  padding: 5px;
  margin: 20px;
  border-width: 0.2px;
  border-radius: 10px;
  font-weight: bolder;
}

.userApproval button:hover {
  background-color: #ddd;
  color: black;
}

.userApproval select {
  width: 20%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 10px; /* Rounded sides */
  background-color: #fef9e8;
  color: #6c7751; /* Text color */
  text-align: center; /* Centered text */
  width: 400px;
  height: 100px;
}

.userApproval .approvalControls{
  display: flex;
  justify-content: center;
  align-items: center;
}

.userApproval #approvalButton{
  background-color: #6c7751;
  color: black;
  width: 200px;
  height: 100px;
}

.userApproval #denyButton{
  background-color: #df7958;
  color: black;
  width: 200px;
  height: 100px;
}


#submitButton{
  background-color: #df7958;
  padding: 5px;
  margin: 20px;
  border-width: 0.2px;
  border-radius: 10px;
  font-weight: bolder;
}

#submitButton:hover{
  background-color: #ddd;
  color: black;
}

/* ADMIN REVIEW TOOLS PAGE */


.deleteReviews select {
  width: 20%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 10px; /* Rounded sides */
  background-color: #fef9e8;
  color: #6c7751; /* Text color */
  text-align: center; /* Centered text */
  width: 400px;
  height: 100px;
}

.deleteReviews button {
  background-color: #df7958;
  padding: 5px;
  margin: 20px;
  border-width: 0.2px;
  border-radius: 10px;
  font-weight: bolder;
  width: 200px;
  height: 100px;
}

.deleteReviews button:hover {
  background-color: #ddd;
  color: black;
}


#images{
  border: #6c7751 5px solid;
}

#speech-btn{
  background-color: #df7958;
  padding: 10px;
  font-size: medium;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

#speech-btn:hover{
  background-color: white;
  color: black;
  
} 

#cancel-btn{
  background-color: #df7958;
  padding: 10px;
  font-size: medium;
  border-radius: 8px;
  font-weight: normal;
  color: white;
  margin-bottom: 10px;
}

#cancel-btn:hover{
  background-color: white;
  color: black;
  
} 

.sidebar {
  width: 0; /* Sidebar width is 0 by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #6c7751; /* Sidebar background color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* Animated transition for sidebar */
  border-radius: 8px;
}

.sidebar.open {
  width: 60px;
}

/* Style the sidebar links (you can add your own styling) */
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #6c7751;

}

/* When you mouse over the sidebar links */

/* Button used to open the sidebar */
.sidebar-toggle {
  position: fixed;
  left: 0;
  top: center;
  z-index: 2;
  background-color: #df7958;
  padding: 5px; /* Adjust padding to ensure text fits snugly */
  margin: 0;
  font-size: small;
  border-width: 0px;
  border-radius: 8px;
  font-weight: normal;
  color: white;
  cursor: pointer;
  white-space: normal; /* Allow text to wrap */
  text-align: center; /* Center-align the text for aesthetics */
  width: 60px; /* Narrow width to encourage text stacking */
  min-height: 30px; /* Adjust minimum height to accommodate stacked text */
}




.sidebar-toggle:hover {
  background-color: white;
  color: black;
} 



/* ADMIN TOOLS */ 

#admin-page button {
  background-color: #df7958;
  padding: 10px;
  margin: 20px;
  border-width: 1px;
  border-radius: 10px;
  border-width: 1px;
}

#admin-page button:hover {
  background-color: #ddd;
  color: black;
}
.newsTitle{
  position: relative;
  right: 500px; 
}

#chat-usr-list {
  list-style: none;
  padding: 0;
}

#chat-usr-item {
  /* Add some right margin to create space */
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#left-buttons {
  display: flex;
  gap: 10px;
}

#username-i{
  margin-left: 40px;
}


.later-i{
  border-top: 1px solid #6e6b6a;
}

.first-i{
  border-top: none;
}



#delete-member-btn-t{
  height: 10px;
  margin: 0px;
  padding: 0px;
  border-radius: 50%;
  width: 12px

}

.timeSystem .titleBox input{
  display: inline-block;
  margin-bottom: 10px;
  width: 38.6%;
  height: 30px;
  margin-right: 10px;
}

.timeSystem #outButton{
  background-color: #6c7751;
  color:#fafafa;
  width: 100px;
  height: 50px;
  border: 0px;
  border-radius: 10px;
  text-align: center;
}

.timeSystem #outButton:hover{
  background-color: #df7958;
  color: black;
  text-align: center;
}
.timeSystem #inButton{
  background-color: #6c7751;
  color:#fafafa;
  width: 100px;
  height: 50px;
  border: 0px;
  border-radius: 10px;
  text-align: center;
}

.timeSystem #inButton:hover{
  background-color: #df7958;
  color: black;
  text-align: center;
}
