/* ENTIRE APP */ 

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.App-header {
  background-color: #dbd0b3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: #6c7751;
}

h1 {
  color: #333;
}

/* NAVIGATION */

.topnav {
  background-color: #6c7751;
  overflow: hidden;
  /*position: fixed;*/
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-style: none;
  border-width: 2px;
  border-color: #555554;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #dbd0b3;
  color: #6c7751;
}

.topnav b {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
  border-style: none;
  border-width: 2px;
  border-color: #555554;
}

.topnav button {
  float: right;
  height: 40px;
  background-color: #6c7751;
  color: #f2f2f2;
  text-align: center;
  margin-top: 9px;
  margin-right: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: none;
  border-width: 2px;
  border-color: #555554;
  font-size: 17px;
  border-radius: 30px;
}

.topnav button:hover {
  background-color: #ddd;
  color: black;
}

.topnav button.login {
  background-color: #df7958;
  color: black;
}

.topnav button.login:hover {
  background-color: #ddd;
  color: black;
}

.topnav button.signup {
  background-color: #ffd7c7;
  color: black;
}

.topnav button.signup:hover {
  background-color: #ddd;
  color: black;
}

/* HOME PAGE */

.opening{
  text-align: left;
  font-size: large;
  display: flex;
}
.title{
  text-align: center;
}

.works{
  text-align: center;
  background-color: #ffd7c7;
  font-size: medium;
  display: flex;
}

.topnav .nav-icon {
  margin-right: 5px;
  vertical-align:middle;
  height: 30px;
  width: 30px;
}

.group1{
  text-align: left;
  font-size: medium;
  display: flex;
  border: 1px solid black
}
.group2{
  text-align: left;
  font-size: medium;
  display: flex;
  border: 1px solid black
}

.group3{
  text-align: left;
  font-size: medium;
  display: flex;
  border: 1px solid black
}

.connections{
  text-align: left;
  font-size: medium;
  display: flex;
  border: 1px solid black;
  background-color: #ffd7c7;
}

.titles{
  display: inline;
}

#signInButton {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-end; /* Align items to the right */
}

#signout-button {
  cursor: pointer;
  color: black;
  background-color: white;
  display: flex;
  align-items: center; 
  padding: 10px;
  width: 125px
}

#g-login-btn1{
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
}

.logo {
  margin-top: 20px;
  width: 4px;
  height: 4px;
  margin-right: 5px;
  vertical-align: middle;
}

#signout-button span {
  vertical-align: middle; 
}

/* LOGIN PAGE */ 

.backBtn{
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5em;
}
.logo {
  width: 15%;  /* Adjust as needed */
  height: auto;  /* Maintain aspect ratio */
}

.usernameBar {
  width: 20%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  background-color: #6c7751;
  color: white; /* Text color */
  text-align: center; /* Centered text */
}

.usernameBar:focus {
  outline: none;
}

.usernameBar::placeholder {
  color: lightgrey;
}

.passwordBar {
  width: 20%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  background-color: #6c7751;
  color: white; /* Text color */
  text-align: center; /* Centered text */
}

.passwordBar:focus {
  outline: none;
}

.passwordBar::placeholder {
  color: lightgrey;
}

.loginBtn {
  margin-top: 20px;
  width: 20%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  text-align: center; /* Centered text */
  background-color: #df7958;
  color: black;
}

.loginBtn:hover {
  background-color: #ddd;
  color: black;
}

#forgotPassword {
  background-color: #6c7751; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 2px;
  cursor: pointer;
  border-radius: 20px;
}

/* HOME PAGE */ 

.homePageDescription{
  text-align: left;
  font-size: medium;
  background-color: #6c7751;
  color: white;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.homePageDescription a{
  font-size: 25px;
}

.olliAspects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%; /* Adjust as needed */
  float: left;
  width: 18.9%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  min-width: 280px;
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.CheerConnectionsTitle {
  color: #6c7751;
  width: 100%;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  margin-top: 10px;
}

.cheerConnectionsDescBack {
  padding: 10px;
  margin-left: 3.5%;
  background: url("../public/images/cheer-connections.png") no-repeat center center;
  background-size: cover;
  border-radius: 20px;
}

.cheerWorksDescBack {
  background: url("../public/images/2.png") no-repeat center center;
  background-size: cover;
  border-radius: 20px;
}

.cheerLivingDescBack {
  padding: 10px;
  margin-left: 3.5%;
  background: url("../public/images/cheer-connections.png") no-repeat center center;
  background-size: cover;
  border-radius: 20px;
}

.cheerGroupDescBack {
  padding: 10px;
  margin-left: 3.5%;
  background: url("../public/images/1.png") no-repeat center center;
  background-size: cover;
  border-radius: 20px;
}

.CheerConnections {
  position: relative;
  background-color: none;
  color: white;
  width: 100%;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  margin-top: 10px;
  min-height: 200px;
  height: auto;
}

.CheerConnections .CheerConnectionsTitle {
  visibility: hidden;
}

.CheerConnectionsTitle {
  font-size: 30px;
}

.CheerConnections .CheerConnectionsDescription {
  visibility: hidden;
}

.CheerConnections:hover .CheerConnectionsTitle {
  visibility: visible;
}

.CheerConnections:hover .CheerConnectionsDescription {
  visibility: visible;
}

.CheerConnections:hover{
  padding-top: 10px;
  background-color: #6c7751;
  opacity: 0.9;
  transition: all 0.5s;
}

.CheerConnectionsButton {
  margin-top: 20px;
  background-color: #df7958;
  color: black;
  width: 50%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  visibility: hidden;
}

.CheerConnections:hover .CheerConnectionsButton {
  visibility: visible;

}
.requestButton{
  font-size: larger;
  color: #6c7751;
}

/* EVENTS PAGE */

#subEve{
  margin-top: 20px;
  background-color: #df7958;
  color: black;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  margin-left: 20px;
}

#eveChoice{
  width: 200px;
  height: 50px;
}

#patientName{
  width:300px;
  height: 50px;
}

#patientID{
  width:300px;
  height: 50px;
}

#hostPatientName{
  width:300px;
  height: 50px;
}

#hostPatientID{
  width:300px;
  height: 50px;
}

.eveMenu{
  display: flex;
}

.createMenu{
  display: flex;
}

.selection{
  display: inline;
}

#eveWhite{
  width: 200px;
  height: 300px;
}

#eveGreen{
  width: 200px;
  height: 300px;
}

.eventDate{
  display: flex;
}

#eveYear{
  width: 150px;
  height: 50px;
}

#eveMonth{
  width: 150px;
  height: 50px;
}

#eveDay{
  width: 150px;
  height: 50px;
}

.event-input {
  width: 20%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  background-color: #fef9e8;
  color: #6c7751; /* Text color */
  text-align: center; /* Centered text */
}


.line {
  height: 100px;
  width: 5px;
  color: #6c7751; 
}

.dateTime{
  display: inline;
}

#digit1{
  width: 50px;
  height: 50px;
}

#digit2{
  width: 50px;
  height: 50px;
}

#digit3{
  width: 50px;
  height: 50px;
}

#digit4{
  width: 50px;
  height: 50px;
}
.error-message {
  color: red;
  font-size: 14px;
}

/* CONTACT PAGE */

.contact {
  width: 100%;
}

.contact .contact-left,
.contact .contact-right {
  width: 48%; /* Adjust as needed */
  box-sizing: border-box;
  text-align: left;
  padding: 0 20px; /* Adjust padding as needed */
  margin: 0;
  display: inline-block;
  vertical-align: top; /* Align elements at the top */
}

.contact .contact-right {
  font-size: 27px;
  border-left: solid #6c7751 2px;
  padding-left: 50px;
}

.contact .contact-left {
  margin-left: 20px;
}

.contact .contactMenu {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

/* Media query for small screens */
@media only screen and (max-width: 767px) {
  .contact .contact-left,
  .contact .contact-right {
    width: 100%; /* Full width on smaller screens */
    border-left: none; /* Remove the border on smaller screens */
  }
}

.contact p {
  font-size: 20px;
}

.contact .contact-right h3 {
  font-style: italic;
  text-align: center;
}

.contact .contact-left h3 {
  font-style: italic;
}

.contact hr {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  border: 1px solid #6c7751;
}

.contact .messageOptions1 input, .messageOptions2 input {
  display: inline-block;
  margin-bottom: 10px;
  width: 38.6%;
  height: 30px;
  margin-right: 10px;
}

.contact .messageOptions3 input{
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 80%;
  height: 150px;
}

.contact .fbLinks{
  text-align: left;
  display: inline;
}

.contact .link {
  display: flex;
}

.contact .contact-right img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.contact .locationInfo{
  text-align: left;
}

.contact #sendButton{
  background-color: #6c7751;
  color:#fafafa;
  text-align: left;
  width: 100px;
  height: 50px;
}

.contact .mapsLine{
  display: flex;
  align-items: center;
}

.contact .hours{
  display: flex;
  align-items: center;
}

/* FUNDRAISING PAGE */ 

.fundraising p {
  font-style: bolder;
}

.fundraising hr {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  border: 1px solid #6c7751;

}

.fundraising .container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.fundraising .child {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.fundraising .bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

/* ABOUT PAGE */ 

.groupPic{
  width: 50%;
  height: auto;
  position: relative; /* Add this line */
}

.aboutDescription{
  text-align: left;
  font-size: medium;
  background-color: #6c7751;
  color: white;
  padding: 20px;
  border-radius: 20px;
  width: 55%;
  margin: auto;
  margin-top: 10px;
}

.aboutDescription p{
  font-size: 30px;
}

.CheerConnectionsButtonAbtPage {
  margin-top: 20px;
  background-color: #df7958;
  color: black;
  width: 50%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  margin-left: 20px;
}

.CheerConnectionsButtonAbtPage:hover {
  background-color: #ddd;
  color: black;
}

.cheerGroupSection {
  background-color: #6c7751;
  color: white;
  width: 60%;
  margin: auto;
  margin-top: 150px;
  border-radius: 20px;
}

.cheerGroupSection h1 {
  float: left;
  padding-left: 30px;
}

.cheerGroupSection p {
  float: left;
  width: 65%;
  margin-left: 20px;
  margin-bottom: 50px;
}

.expandCheerGroupSection {
  background-color: #df7958;
  color: black;
  width: 50%;
  margin: auto;
  border: none;
  border-radius: 20px;
  font-size: medium;
  padding: 10px;
  margin-bottom: 20px;
}

.expandCheerGroupSection:hover {
  background-color: #ddd;
  color: black;
}

.cheerWorksSectionExpandable {
  display: none;
}

.cheerWorksSection {
  background-color: #6c7751;
  color: white;
  width: 60%;
  margin: auto;
  /*margin-top: 50px;*/
  border-radius: 20px;
}

.cheerWorksSection h1 {
  float: left;
  padding-left: 30px;
}

.cheerWorksSection p {
  float: left;
  width: 65%;
  margin-left: 20px;
  margin-bottom: 50px;
}

.expandCheerWorksSection {
  background-color: #df7958;
  color: black;
  width: 50%;
  margin: auto;
  border: none;
  border-radius: 20px;
  font-size: medium;
  padding: 10px;
  margin-bottom: 20px;
}

.expandCheerWorksSection:hover {
  background-color: #ddd;
  color: black;
}

.cheerConnectionsSectionExpandable {
  display: none;
}

.cheerConnectionsSection {
  background-color: #6c7751;
  color: white;
  width: 60%;
  margin: auto;
  /*margin-top: 50px;*/
  border-radius: 20px;
}

.cheerConnectionsSection h1 {
  float: left;
  padding-left: 30px;
}

.cheerConnectionsSection p {
  float: left;
  width: 50%;
  margin-left: 20px;
  margin-bottom: 50px;
}

.expandCheerConnectionsSection {
  background-color: #df7958;
  color: black;
  width: 50%;
  margin: auto;
  border: none;
  border-radius: 20px;
  font-size: medium;
  padding: 10px;
  margin-bottom: 20px;
}

.expandCheerConnectionsSection:hover {
  background-color: #ddd;
  color: black;
}

.cheerConnectionsSectionExpandable {
  display: none;
}

.cheerLivingSectionExpandable {
  display: none;
}

.cheerLivingSectionExpandable {
  display: none;
}

.cheerLivingSection {
  background-color: #6c7751;
  color: white;
  width: 60%;
  margin: auto;
  /*margin-top: 50px;*/
  border-radius: 20px;
}

.cheerLivingSection h1 {
  float: left;
  padding-left: 30px;
}

.cheerLivingSection p {
  float: left;
  width: 65%;
  margin-left: 20px;
  margin-bottom: 50px;
}

.expandCheerLivingSection {
  background-color: #df7958;
  color: black;
  width: 50%;
  margin: auto;
  border: none;
  border-radius: 20px;
  font-size: medium;
  padding: 10px;
  margin-bottom: 20px;
}

.expandCheerLivingSection:hover {
  background-color: #ddd;
  color: black;
}

.cheerLivingSectionExpandable {
  display: none;
}

/* DROP-IN PAGE */
.drop-in button {
  background-color: #df7958;
  color: black;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px;
  vertical-align: auto;
}

.drop-in button:hover {
  background-color: #ddd;
  color: black;
}

.drop-in .DateTimePicker {
  display: flex;
  align-items: center;

}

/* ??? */

#return-btn {
  position: fixed;
  top: 120px;
  left: 20px;
}

#download-img {
  margin-left: 10px;
  width: 25px;
  vertical-align: middle;
}

a:hover {
  cursor:pointer;
}

.letter-info{
 text-align: left;
}

#newsletter-list{
  align-items: left;
  margin-left: 30px;
  /*margin-top: 50px;*/
}

.letter-info {
  text-align: left; /* Align text to the left within the paragraphs */
}

#upload-pdf {
  text-align: left; /* Align content to the left side of the page */
}

.newsletter-item {
  width: 100%;
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: -25px; /* Adjust this value to reduce the space */
}


.open-btn{
  margin-left: 10px;
}

/* VERIFICATION PAGE */
.verification input, .verification select {
  width: 20%;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
  background-color: #fef9e8;
  color: #6c7751; /* Text color */
  text-align: center; /* Centered text */
}

.verification button {
  background-color: #df7958;
  color: black;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 20px; /* Rounded sides */
}


.backArrowImg {
  width: 60px;
  height: 50px;
}

.backArrowImg {
  width: 60px;
  height: 50px;
}

.fundraising, .contact, .events, .homePage, .verification, .news, .about {
  /*margin-top: 50px;*/
  margin-bottom: 50px;
  text-align: center;
  
}

input, button, select, option {
  font-family: 'Nunito', sans-serif;
}


.verification {
  max-width: 400px;
  /*margin: 50px auto;*/
  padding: 20px;
  border-radius: 5px;
}

.verification h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.verification form {
  display: flex;
  flex-direction: column;
}

.verification label {
  margin-bottom: 10px;
  color: #555;
}

.verification input,
.verification select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.verification button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.verification button:hover{
  background-color: blue;
}

.verification button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
  text-align: center;
}

p.letterheader{
  padding:0px;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 30px;
}

#settings-icon {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

.switch input {
  margin-left: 20px;
  width: 20px;
  height: 20px;
}


#settings-icon{
  padding: 0px;
  margin-right: 20px;
}

#account-settings{
  width: 100%;
}

#email-prefs{
  text-align: left;
  margin-left: 20px;
  display: flex;
  align-items: center;
 
}

#email-prefs label.switch {
  padding-right: 10px; /* Adjust padding for the switch label */

}

#email-prefs button {
  padding: 5px 10px; /* Adjust padding for the button */
}

.news{
  width: 100%;
}

.letterheader{
  font-weight: bolder;
}

#admin-options, #admin-page, #upload-pdf{
  width: 100%;
}

#upload-nl{
  font-weight: bolder;
  font-size: 25px;
  margin-left: 30px;

}

#stuff-nl{
  text-align: center;
}

#button-container{
  text-align: right;
}

#newsletter-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
}

.newsletter-item {
  position: relative;
  width: 100%; /* Ensures the item occupies the full width */
  display: flex;
  justify-content: flex-start; /* Aligns items (info-container and button-container) to the start of the container */
  margin-bottom: -15px;
}

.info-container {
  display: flex;
  align-items: center; /* Aligns items vertically within the info container */
}

.button-container {
  position:absolute;
  right: 0;
  margin-right: 200px;
  top: 50%;
  transform: translateY(-50%);
}

.button-container button {
  margin-right: 10px; /* Adjust as needed */

/* RANDOM STUFF */

.backArrowImg {
  width: 60px;
  height: 50px;
}

.backArrowImg {
  width: 60px;
  height: 50px;
}

.fundraising, .contact, .events, .homePage, .verification, .news, .about, .drop-in {
  margin-top: 50px;
  text-align: center;
}

input, button, select, option {
  font-family: 'Nunito', sans-serif;
}

button:hover {
  cursor: pointer;
}
