<!DOCTYPE html>
<html>
<body>

<input type="text" id="inputField" placeholder="New Password...">
<button onclick="sendRequest()">Save</button>
<p id="pass-message-text"></p>

<script>
function sendRequest() {
  var input = document.getElementById('inputField').value;
  var userID = '<%= userID %>'; // replace with your userID
  var uniqueString = '<%= uniqueString %>'; // replace with your uniqueString
  let isError = false;

  fetch(`http://localhost:3004/user/changePassword/${userID}/${uniqueString}/setPassword`, { // replace with your endpoint
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ password: input, userID: userID, uniqueString: uniqueString }),
  })
  .then(response => {response.json();
   })
  .then(data => {
    console.log(data); 
  })
  .catch((error) => {
    isError = true;
    console.error('Error:', error);
  });
  if(!isError){
    document.getElementById("pass-message-text").textContent = "Password Successfully Changed.";
  }
}
</script>

</body>
</html>